[Unit]
Description=PolandAOD powers on HTU21 bis

[Service]
Type=simple
ExecStart=/usr/local/bin/get_htu21.py &

[Install]
WantedBy=multi-user.target

